<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
    <h1>Guest Recipes Edit Page</h1><br>
    <form action="/dideskitchen/guestrecipes/<%=food.id%>?_method=PUT" method="POST">
        <label for="recipe">Recipe Name:</label>
        <input type="text" name="recipe" id="recipe" value="<%=food.recipeName%>"/><br><br>
        <label for="recipeBy">Recipe By:</label>
        <input type="text" name="recipeBy" id="recipeBy" value="<%=food.recipeBy%>"/><br><br>
        <label for="category">Category:</label>
        <select name="category" id="category" value="<%=food.category%>">
        <option value="soup">soup</option>
        <option value="salad">salad</option>
        <option value="dinner">dinner</option>
        <option value="breakfast">breakfast</option>
        <option value="dessert">dessert</option>
        <option value="bakery">bakery</option></select><br><br>
        <label for="image">Image:</label>
        <input type="text" name="image" id="image" value="<%=food.image%>"/><br><br>
        <label for="ingredients">Ingredients:</label>
        <input type="text" name="ingredients" id="ingredients" value="<%=food.ingredients%>"><br><br>
        <label for="directions">Directions:</label>
        <input type="text" name="directions" id="directions" value="<%=food.directions%>"><br><br>
        <input type="submit" value="Edit Recipe" id="edit"/>
    </form>

</div>
<%- include("partials/footer") %>