<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
    <h2 class="guestrecipes">Guest Recipes</h2><br>
    <ul>
        <% for(let i=0; i < foods.length; i++) { %>
    <h2><%= foods[i].recipeName %></h2>
    <p><%= foods[i].recipeBy %></p>
    <p><%= foods[i].category %></p>
    <p><%= foods[i].ingredients %></p>
    <p><%= foods[i].description %></p>
    <img src="<%= foods[i].image %>">
        <% } %>
    </ul>

</div>
<%- include("partials/footer") %>