<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
    <h2 class="guestrecipes">Guest Recipes</h2><br>
    <ul>
        <% for(let i=0; i < foods.length; i++) { %>
<a href='/dideskitchen/guestrecipes/<%=foods[i].id%>'>
    <h2><%= foods[i].recipeName %></h2>
</a>
    <p>Recipe By: <%= foods[i].recipeBy %></p>
    <img class='guestimg' src="<%= foods[i].image %>">
    <p>Category: <%= foods[i].category %></p>
        <% } %>
    </ul>

</div>
<%- include("partials/footer") %>