<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="./img/dideskitchen.png"></img>
    <h2><%= food.recipeName %></h2>
    <p><strong>Recipe By: </strong><%= food.recipeBy %></p>
    <img class='guestimg' src="<%= food.image %>">
    <p><strong>Category: </strong><%= food.category %></p>
    <p><strong>Ingredients: </strong><%= food.ingredients %></p>
    <p><strong>Directions: </strong><%= food.directions %></p>
    <nav>
        <a href="/dideskitchen/guestrecipes">Back to Guest Recipes</a>
    </nav>
    
    <a href="/dideskitchen/guestrecipes/<%=food.id%>/edit">Edit Recipe</a>

    <form action="/dideskitchen/guestrecipes/<%=food.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" id="delete">
    </form>


</div>
<%- include("partials/footer") %>