<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
    <h1><%=food.recipeName%></h1><br>
    <img src="<%=food.image%>"><br>
    <h4><%=food.ingredients%></h4><br>
    <h4><%=food.description%></h4><br>
</div>
<%- include("partials/footer") %>