<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
    <h2><%= food.recipeName %></h2>
    <p>Recipe By: <%= food.recipeBy %></p>
    <img class='guestimg' src="<%= food.image %>">
    <p>Category: <%= food.category %></p>
    <p>Ingredients: <%= food.ingredients %></p>
    <p>Description: <%= food.description %></p>
    <nav>
        <a href="/dideskitchen/guestrecipes">Back to Guest Recipes</a>
    </nav>
    
    <a href="/dideskitchen/guestrecipes/<%=food.id%>/edit">Edit Recipe</a>

    <form action="/dideskitchen/guestrecipes/<%=food.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" id="delete">
    </form>


</div>
<%- include("partials/footer") %>